
div
  center
    h2 Subir cancion!
    form#formupload(method='post', action='/s')
      input#file(type="file")
      #es.hide
        hr
        include ../modules/editsong
        hr
      br
      input(type='button', value="subir", onclick='core.downloadmanager.uploadfile(event);')
    div.row
      div.span12
        div.progress.progress-striped.active.hide(style="width: 70%")
          div.progress-bar.progress-bar-success.progress-bar-striped.bar(style='width: 0%')

script $("#file").change(function() {$("#es").toggleClass("hide");});
