
div
   center
     b Subir Cancion!

div.container
  center
    div.row(style="width:50%")
      div.col-xs-6
        input(type="text", placeholder="titulo")
      div.col-xs-6
        input(type="text", placeholder="albun")


