extends ../layout

block content
  center
    br
    span.label.label-danger(style="font-size:22px;")= message
    | <span>   </span>
    span.label.label-warning(style="font-size:22px;")= error.status
  br
  pre(style="background-color:#202020;color:#bbbbbb") #{error.stack}
  script document.body.style.backgroundColor = "black";
