
div.container
  center
    div.row(style="width:50%")
      div.col-xs-6
        input(type="text", placeholder="titulo")
        input(type="text", placeholder="genero, genero, ...")
        input(type="text", placeholder="autor, autor, ...")
        input(type="text", placeholder="interprete, interprete, ...")
        input(type="text", placeholder="nota")
        div
          p letras
          div
            select idioma
              option espaniol
              option ingles
            input(type="button", value="+")

      div.col-xs-6
        input(type="text", placeholder="duracion")
        input(type="text", placeholder="tag, tag, tag, ...")
        input(type="text", placeholder="albun")
        input(type="text", placeholder="anio")
        input(type="text", placeholder="bpm")
        input(type="text", placeholder="kbps")
        div
          p comentarios
          div
            input(type="text", placeholder="comentario")
            input(type="button", value="+")
