
div.container
  center
    div.row(style="width:50%")
      div.col-xs-6
        input#titulo(type="text", placeholder="titulo")
        input#genero(type="text", placeholder="genero, genero, ...")
        input#autor(type="text", placeholder="autor, autor, ...")
        input#interprete(type="text", placeholder="interprete, interprete, ...")
        input#nota(type="text", placeholder="nota")
        div
          p letra
          div
            select#idioma idioma
              option espaniol
              option ingles

      div.col-xs-6
        input#duracion(type="text", placeholder="duracion")
        input#tag(type="text", placeholder="tag, tag, tag, ...")
        input#albun(type="text", placeholder="albun")
        input#anio(type="text", placeholder="anio")
        input#bpm(type="text", placeholder="bpm")
        input#kbps(type="text", placeholder="kbps")
        div
          p comentarios
          div
            input(type="text", placeholder="comentario")
            input(type="button", value="+")
