doctype
head
  meta(charset='uft-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title= title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/css/style.css')
body
  div(class='header')
    div
      h1
        b Morg
      br
      h3= panel
    div(class='bottoms')
      h2
        a |^|
        |    
        a q
        |    
        a )>
        |    
        a +E
    div(class='user')
      h2
        a -^-
        |    
        a (o)
        |    
        a #
  div(class='info') hola mundo descargasss!!!!!
  div(class='player') ( H  playing, title: "bla bla bla" |----->   | 00:00 / 02:21)
  div(id='panel')
  script(src='/js/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/core.js')
