doctype
head
  meta(charset='uft-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title= title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/css/style.css')
body
  div(class='header navbar navbar-default navbar-static-top', role='navigation')
    div(class='container')
      div
        div(class='nav navbar navbar-left logo')
          b Morg
        div(class='bottoms nav navbar', style=' position: absolute;width: 100%;left: 0;text-align: center; margin: auto;' )
           a(onclick="core.chPanel('inicio')") |^|
           | ---
           a q
           | ---
           a )>
           | ---
           a +E
        div(id='user', class=' user navbar navbar-right')
      div(id='labelpanel', class='info labelpanel')= panel
  div(id='downloadmanager', class='navbar navbar-default downloadmanager')
  div(class='container')
    div(id='player', class='player')
    div(id='panel', class='panel')
  script(src='/js/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/core.js')
